<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      pruebaApp v1.04
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <ion-grid class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">

        <!-- Logo -->
        <ion-img src="https://s3-alpha.figma.com/hub/file/1913095808/a7bdc469-cd70-4ea1-bb57-b59204ad8182-cover.png"
          alt="Logo" class="logo"></ion-img>

        <!-- Título -->
        <h1 class="titulo">Bienvenido</h1>
        <p class="subtitulo">Inicia sesión para continuar</p>

        <!-- Inputs -->
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
          <ion-list inset="true" lines="none" class="inputs">
            <ion-item>
              <ion-input formControlName="email" type="email" label="Email" labelPlacement="floating" fill="solid" helperText="Ingresá tu email"
                errorText="Email inválido" ></ion-input>
            </ion-item>

            <ion-item class="ion-margin-top">
              <ion-input  formControlName="password" type="password" label="Contraseña" labelPlacement="floating" fill="solid"
                helperText="Mínimo 6 caracteres" errorText="Password inválido"
                required></ion-input>
            </ion-item>
          </ion-list>

          <!-- Mensaje de error -->
          @if (mensajeErrorLogin()) {
          <div class="ion-text-center">
            <ion-note color="danger">{{mensajeErrorLogin() }}</ion-note>
          </div>
          }

          <!-- Botón principal -->
          <ion-button type="submit" expand="block" size="large" class="boton-login" [disabled]="!loginForm.valid ">
            Ingresar
          </ion-button>
        </form>

        <ion-button expand="block" size="large" class="boton-login" routerLink="/registro">
          Registrarse
        </ion-button>

        <!-- Botones de usuarios -->
        <div class="usuarios">
          <ion-button expand="block" size="medium" class="boton-usuario" (click)="loginTest(1)">
            Ingresar con usuario 1
          </ion-button>

          <ion-button expand="block" size="medium" class="boton-usuario" (click)="loginTest(2)">
            Ingresar con usuario 2
          </ion-button>

          <ion-button expand="block" size="medium" class="boton-usuario" (click)="loginTest(3)">
            Ingresar con usuario 3
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>