<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vibration test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vibration test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="button-container">
      <ion-button (click)="vibrar('corta')">Short</ion-button>
      <ion-button (click)="vibrar('larga')">Long</ion-button>
    </div>

  </div>
</ion-content>