<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Net Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Net Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  
      <img alt="Silhouette of mountains" [src]="imageUrl" alt="Random Image" />
 

    <ion-button (click)="cambiarImagen()">Search Image</ion-button>
  </div>





</ion-content>